<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="fr.isima.cuicuizz.dbaccess.mybatis.dao.QuestionMapper">


	
	
	<resultMap type="AnswerModel" id="AnswerModelMapper">
		<id property="id" column="AnswerId" />
		<result property="questionId" column="QuestionId" />
		<result property="answer" column="Answer" />
		<result property="isCorrect" column="IsCorrect" />
	</resultMap>



	<resultMap type="QuestionModel" id="QuestionModelMapper">
		<id property="id" column="Id" />
		<result property="question" column="Question" />
		<result property="themeId" column="ThemeId" />
		<collection property="answers" resultMap="AnswerModelMapper"/>
	</resultMap>



	<resultMap type="ThemeModel" id="ThemeModelMapper">
		<id property="id" column="Id" />
		<result property="name" column="Name" />
	</resultMap>


	<select id="selectAllQuestions" resultMap="QuestionModelMapper">
		SELECT q.Id,q.Question,q.ThemeId,a.Id as AnswerId, a.QuestionId,a.Answer,a.IsCorrect 
		FROM Question q
		join Answer a on a.QuestionId=q.Id
		WHERE q.ThemeId=#{themeId};
	</select>
	
	<select id="getNbQuestionFromTheme" resultType="Integer">
		SELECT COUNT (1) FROM Question where ThemeId=#{themeId}; 
	</select>


	<select id="getThemes" resultMap="ThemeModelMapper">
		SELECT * FROM Theme;
	</select>
</mapper>

